.logo {
    background-color: #131921;
    padding-bottom: 25px;
}/* Your styles here */
.logo2 {
    padding-top: 20px;
    padding-left: 15px;

    width: 130px;
 }
header nav {
    background-color: #232F3E;
    width: 98.5%;
 }
nav,p {
   display: inline-block;
    color: white;
    padding-top: 0.3%;
   padding-bottom: 0.3%;
   padding-left: 20px;
 }

.conteiner {
   background-color:#f0f0f0;
   padding-top: 3px;
 }

.arancio {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 21PX;
    margin-bottom: 21PX;
    background-color: orangered;
    text-align: center;
    
 }

.arancio2 {
   padding-top: 0.5%;
   padding-bottom: 0.5%;
 }

.guides{
   margin-left: 3%;
    margin-right: 3%;
    margin-top: 21PX;
    margin-bottom: 21PX;

 }
.guides img {
   width: 100%;
 }

 .esasperazione{
   border-style: solid;
   border-color: #dcdbdb;
   margin-left: 3%;
   margin-right: 3%;
   background-color: white;
   padding-bottom: 10px;
   padding-top: 10px;
   margin-bottom: 40px;
 }
 .collectionCard{
   background-color: white
 }

 .collectionCard div{
   display: inline-block;
   margin-left: 55px;
   margin-right: 55px;

   
 }
 .collectionCard img{
   border-radius: 10%;
   border-left: auto;
   border-right: auto;
 }

 


    .bigcard1 img{
          width: 94%;
         
        }
    .bigcard2 img{ 
           width: 94%;
           
         } 
   .bigcard1{
      margin-left: 30px;
      
   }
   .bigcard2{
      margin-left: 30px;
      
   }
    
 .black {
   color: black;
 }
 


 